<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about page</h1>

    <!--Using fragments-->
    <div th:replace="~{base :: parent(~{:: .third-content})}">
    <section id="dynamic-content">   
            <h1>This is Dynamic content!</h1>
    </section>
    <section id="second-content">
        <h1>This is second content!</h1>
    </section>
     <section class="third-content">   
            <h1>This is third content!</h1>
    </section>



</div>
</div>



</body>
</html>