<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service page</title>
</head>
<body>
    <div id="content">
        <h1>Wellcome to service page</h1>
        <h2>Services offered by SCM</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, numquam.</p>
    </div>
     <script>
        console.log("Inside about page script");
    </script>
    
</body>
</html>